.container{
    border: dashed black 2px;
    display:flex;
    flex-direction: column;
    display:inline-block;
    border-radius: 14px;;
    padding:5%;
    justify-content: space-between;
    height:60px;
}
input{
    display: flex;
        flex-direction: column;
}
.buttons{
    display: flex;
    padding-top: 15px;
        padding-top: 10px; 
}
/* .input_file{
    display:none;
} */

.save{
    height: 25px;
        width: 150px;
    padding-left: 10px;
}
.dropzone{
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 36rem;
    border: 1px solid black;
    width: 100%;
   
    

}


